.navbar {
    height: 4em;
    min-width: 100%;
    padding: 5em 0;
    position: fixed;

    ul {
        align-items: center;
        list-style-type: none;
        display: flex;
        height: 100%;
        justify-content: center;
    }

    &__link {
        font-size: 1.5rem;
        margin-right: 20em;
        
        a {
            color: $white;
            text-decoration: none;
        }
    }

}